@font-face {
  font-family:'customfont1' ;
  src: url("../public/avenir_ff/AvenirLTStd-Black.otf");
}
@font-face {
  font-family:'customfont2' ;
  src: url("../public/avenir_ff/AvenirLTStd-Book.otf");
}
@font-face {
  font-family:'customfont3' ;
  src: url("../public/avenir_ff/AvenirLTStd-Roman.otf");
}